<configuration>
  <configSections>
    <section name="persistence" type="PersistenceService.PersistenceProviderConfigurationSection,PersistenceService,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
  </configSections>
  <persistence defaultProvider="db4oProvider">
    <providers>
      <add name="db4oProvider" type="db4oProvider.db4oProvider,db4oProvider"></add>
    </providers>
  </persistence>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
